header(class="header")
	div(class="logo")
		h1 Pyramid Special Jewelry
	nav
		a(href="#") Home
		a(href="#") Company
		a(href="#") Services
		a(href="#") Gallery
		a(href="#") Contact
	div
		button Schedule Appointment
